@model IEnumerable<Quest> 


@foreach(var quest in Model)
{
    <tr>
        <td>@quest.QuestId</td>
        <td>@quest.QuestName</td>
        <td>@quest.QuestDescription</td>
        <td>
            <a asp-action="Details" asp-route-id="@quest.QuestId">Details</a>
            <a asp-action="Update" asp-route-id="@quest.QuestId">Update</a>
            <a asp-action="Delete" asp-route-id="@quest.QuestId">Delete</a>
        </td>
    </tr>
}
